# SEMANA 03
Mg. Flor Elizabeth Cerdán León

# Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por Teclado
    5. Operadores

3. Manejo de Cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234...................................-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# Tambien considera los espacios en blanco

In [7]:
cadena[11]

' '

In [8]:
# ¿Qué me mostrará?
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
# Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [11]:
# Para mostrar una subcadena[desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [12]:
# Para saber el tamaño de una cadena utilizamos len()
# Incluye espacios en blanco

In [13]:
len(cadena)

44

In [14]:
# Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [15]:
# Ojo---- Sólo lo muestra,porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [16]:
# Si desearas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [17]:
# Para mostrar una cadena en minúscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [18]:
# Generar una lista a partir de una cadena split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [21]:
# Generar una listas utilizando un criterio de separación a partir de una cadena.split()
# En este caso vamos a generar una lista de toda la cadena, utlizando como criterio de separación la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [23]:
# Forma clásica, concatenar con +
nombre = "Flor Cerdán"
print("Buenas Tardes " + nombre)

Buenas Tardes Flor Cerdán

In [24]:
# Utilizando el .format()
nombre = "Diego Casas"
edad = 17
print("hola {} ya sé que tienes {} años".format(nombre, edad))

hola Diego Casas ya sé que tienes 17 años

In [26]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [27]:
# Dar formato con f
# La función f, está disponible desde la fversión 3.6
nombre = "Lucia Camarena"
edad = 17
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Lucia Camarena, ya sé que tienes 17 años

In [30]:
# Dar formato a números con muchos decimales con f
resulatdo = 10/3
print(f"10/3 es = {resulatdo} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333